* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.3rem;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.func {
  background-color: #a5a5a5;
  color: black;
}

.num {
  background-color: #333;
}

.point {
  background-color: #333;
}

.equal {
  background-color: #333;
}

.operator {
  background-color: #f1a33c;
}

.action {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.calculator {
  background-color: black;
  height: 500px;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.key-0 {
  grid-column: 1 / span 2;
  width: 126px;
  border-radius: 55px;
  justify-content: left;
  padding-left: 0.9rem;
}

.key:hover {
  opacity: 0.5;
}

.screen {
  width: 250px;
  font-size: 2rem;
  height: 60px;
  justify-content: end;
  margin-bottom: 0.3rem;
  color: white;
  display: flex;
  padding-right: 15px;
}
.screen2 {
  width: 250px;
  font-size: 1.8rem;
  height: 60px;
  justify-content: end;
  align-items: flex-end;
  color: white;
  display: flex;
  opacity: 0.5;
  padding-right: 15px;
}

.apple {
  color: white;
  margin-top: -1.2rem;
}
