* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 45px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.func {
  background-color: #a5a5a5;
  color: black;
}

.num {
  background-color: #333;
}

.operator {
  background-color: #f1a33c;
}

.action {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.calculator {
  background-color: black;
  width: 500px;
  height: 840px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  /* justify-content: center; */
  /* align-items: flex-end; */
}

.key-0 {
  grid-column: 1 / span 2;
  width: 215px;
  border-radius: 55px;
  justify-content: left;
  padding-left: 0.9rem;
}

.key:hover {
  opacity: 0.5;
}

.screen {
  width: 450px;
  height: 800px;
  border-radius: 30px;
  background-color: #a5a5a58f;
  margin-bottom: 0.7rem;
}
